numpy>=2.3.0
pandas>=2.2.2
tqdm>=4.67.0
torch>=2.4.0
torchvision>=0.19.0
torchaudio>=2.4.0
scikit-learn>=1.5.0
matplotlib>=3.9.0
opencv-python>=4.10.0
imageio-ffmpeg>=0.5.1
scipy>=1.14.1
decord>=0.6.0
soundfile>=0.12.1
h5py>=3.10.0
pyyaml>=6.0.1
seaborn>=0.13.0
